*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #24252a;
    position: relative;
}
.logo{
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    margin-right: auto;
}
li, a, button{
    font-family: sans-serif;
    font-weight: bold;
    font-size:16px;
    color: #ecf0f1;
    text-decoration: none;
    list-style-type: none;
}
button {
    all: unset;
}
.navbar{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 20px 10%;

}
.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a{
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover{
    color: #0088a9;
}
button{
    padding: 8px 15px;
    margin-left: 20px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}